body {
    /* background-color: aqua; */
    background-image: url('../img/ac.jpg');
    /* background-repeat:repeat;
    background-size: cover; */
    color: red;
}

div {
    width: 200px;
    height: 200px;
    border: red solid 3px;
    float: left;
    background-color: aliceblue;
    margin-right: 20px;
    margin-bottom: 20px;
    /* padding-top: 5px;
    padding-left: 50px; */
    text-align: center;
}

#divA {
    background-image: url('../img/back_mantel.jpg');
    
}

#divB {
    width: 164px;
    height: 164px;
    background-image: url('../img/back_mantel.jpg');
    padding: 20px;
    background-clip: content-box;
}

#divC {
    background-image: url('../img/back_mantel.jpg');
    background-size: cover;
}

#divD {
    background-color: aliceblue;
    background-image: url('../img/back_mantel.jpg');
    background-size: cover;
    width: 164px;
    height: 164px;
    padding: 20px;
    background-origin: content-box;
    background-repeat: no-repeat;
}

#divI {
    background: linear-gradient(to right, yellow 0%, grey 100%);
}

#divL {
    background: linear-gradient(to top, green 0%, grey 100%);
    opacity: 50%;
}